@import url("https://fonts.googleapis.com/css2?family=Turret+Road&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap"); */

:root {
  /* sunlight */
  --old-lace: #f7f3e3;

  /* sky */
  --baby-blue-eyes: #98b9f2;
  --cornflower-blue: #6f9ceb;

  /* the above color, adjusted so the contrast ias more accessible */
  /* (actually the text is too low for this to be the background, baby-blue-eyes
  /* is the one that needs to be darked */
  --cornflower-blue: #3074d5;

  /* moon */
  --lavender-web: #dbe6fb;

  /* navbar background */
  --space-cadet: #1a1b41;
  --space-cadet-light: rgba(26, 27, 65, 0.25);

  /* headings */
  --light-coral: #f08080;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: var(--light-coral);
  font-family: "Turret Road", monospace;
  /* font-variant: small-caps; */
}

html {
  font-family: "Kanit", Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(
    5deg,
    var(--old-lace),
    var(--baby-blue-eyes) 20%,
    var(--cornflower-blue) /* var(--space-cadet) */
  );
  color: white;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

body {
  margin: 10% 20% 0 20%;
  background-color: rgba(0, 0, 0, 0);
}

p {
  text-shadow: 0 0 1px transparent;
}

.moon {
  position: fixed;
  width: 300px;
  height: 300px;
  top: -20px;
  right: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  box-shadow: -2px 3px 0 0 var(--lavender-web);
  opacity: 0.5;
  z-index: -1;
}

a {
  padding: 0px;
  color: inherit;
}

.site-nav {
  position: absolute;
  width: 100%;
  background: linear-gradient(
    to right,
    var(--space-cadet-light) 0%,
    rgba(0, 0, 0, 0) 70%
  );
  top: 0;
  left: 0;
  font-family: "Turret Road";
  font-variant: small-caps;
  text-transform: lowercase;
}

.site-nav li {
  margin: 0;
  display: inline-block;
}

.site-nav li:nth-of-type(n + 2)::before {
  content: "";
  margin-left: 1em;
}

.site-nav a {
  text-decoration: none;
}

.site-nav a:hover {
  border-bottom: solid white 1px;
}

.site-nav a:visited {
  color: inherit;
}

/* ship flying across the screen
   gives a feeling of scale */
.contrail {
  opacity: 0.4;
  width: 1000px;
  height: 2px;
  background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0) 50%);
  border-right: 5px solid #cf4d6f;
  position: fixed;
  bottom: 240px;
  left: -1000px;
  animation: fly-across linear infinite 45s;
  z-index: -2;
}

@keyframes fly-across {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200vw);
  }
}

/* legibility fix */
/* article {
  background-color: var(--space-cadet-light);
  transition: 1s background-color;
  padding: 20px;
  border-radius: 10px;
} */
